﻿@model WebBooking.Entity.Trip

@{
   
}

        <h2>View Trip</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.License_plate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.License_plate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Chauffeur)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Chauffeur)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Type_car)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Type_car)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Own_car)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Own_car)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Source)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Source)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Destination)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Destination)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Range)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Range)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Product_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Product_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Num_way)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Num_way)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lost_count)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lost_count)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Corrupt_count)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Corrupt_count)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Weight_start)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Weight_start)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Weight_end)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Weight_end)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Weight_lost)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Weight_lost)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Weight_corrupt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Weight_corrupt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Count_last)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Count_last)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BookingRecord.JobType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BookingRecord.JobType)
            </dd>
    
        </dl>
        <p class="text-right">
            @Html.ActionLink("สร้าง sub trip", "Details", new { id = Model.TripNo }) |
            @Html.ActionLink("คัดลอก","copy", new { id = Model.TripNo }, new { target = "_blank" }) |
            @Html.ActionLink("บันทึก","Details") |
            @Html.ActionLink("ยกเลิก", "../") |
            @Html.ActionLink("ปิดทริป", "../") |
        </p>
    </div>
    
