﻿@model IEnumerable<WebBooking.Entity.Trip>
<div class="clearfix"></div>    
<table class="table table-responsive" style="left:0">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.License_plate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chauffeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type_car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Own_car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_way)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lost_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corrupt_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight_start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight_end)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight_lost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight_corrupt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count_last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingRecord.JobType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.License_plate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chauffeur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type_car)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Own_car)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Range)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Num_way)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lost_count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Corrupt_count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight_start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight_end)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight_lost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight_corrupt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count_last)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingRecord.JobType)
                </td>
                <td>
                    @Html.ActionLink("View", "Details", new { id = item.TripNo },new {target = "_blank" }) |
                    @Html.ActionLink("Copy", "Copy", new { id = item.TripNo }, new { target = "_blank" }) |
                </td>
            </tr>
        }
    </table>
