﻿@model WebBooking.Entity.Trip

@{
    ViewBag.Title = "New";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2>Trip</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.BookingNo, "BookingNo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.BookingNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingNo, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.TripNo, "TripNo", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TripNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TripNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                    <div class="col-md-2">
                        ประเภทงาน
                    </div>
                    <div class="col-md-4">
                        @if(ViewBag.br_arr != null)
                        {
                             @ViewBag.br_arr.JobType
                        }
                    </div>
                <div class="col-md-2">
                    อ้างอิง job
                    </div>
                    <div class="col-md-4">
                        <input type="text" />
                    </div>
                </div>
            <hr />
            <div class="form-group">
                <div class="col-md-2">
                    รหัสลูกค้า/ชื่อ
                    </div>
                    <div class="col-md-10">
                    @if (ViewBag.br_arr != null)
                    {
                        @ViewBag.br_arr.CustomerID
                    }
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-2">
                    จุดเปิด trip
                    </div>
                    <div class="col-md-4">
                    @if (ViewBag.br_arr != null)
                    {
                        @ViewBag.br_arr.TripOpen
                    }
                    </div>
                <div class="col-md-2">
                    ประเภทสินค้า
                    </div>
                    <div class="col-md-4">
                    @if (ViewBag.br_arr != null)
                    {
                        @ViewBag.br_arr.ProductType
                    }
                    </div>
                </div>
            <div class="form-group">
                <div class="col-md-2">
                    BillAddress
                    </div>
                    <div class="col-md-4">
                    @if (ViewBag.br_arr != null)
                    {
                        @ViewBag.br_arr.BillAddress
                    }
                    </div>
                <div class="col-md-2">
                    วันที่ส่งของ
                    </div>
                    <div class="col-md-4">
                    @if (ViewBag.br_arr != null)
                    {
                        @ViewBag.br_arr.DateTranspot
                    }
                    </div>
                </div>

            <!---------------------------------------------------------------------------------------------------------------------------->
            <hr />
            <h2>Trip Detail</h2>
            <div class="form-group">
                @Html.LabelFor(model => model.License_plate, "ทะเบียนรถ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(Model => Model.License_plate,
                        new SelectList(ViewBag.License, "License_plate", "License_plate"), "Select License_plate", new { @clas = "form-control" })
                    @Html.ValidationMessageFor(model => model.License_plate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Chauffeur, "คนขับรถ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Chauffeur,
                        new SelectList(ViewBag.Chauffeur, "Chauffeur", "Chauffeur"), "Select Chauffeur", new { @clas = "form-control" })
                    @Html.ValidationMessageFor(model => model.Chauffeur, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type_car, "ประเภทรถ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Type_car,
                        new SelectList(ViewBag.Type_car, "Type_car", "Type_car"), "Select Type_car", new { @clas = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type_car, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Own_car, "เจ้าของรถ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Own_car,
                        new SelectList(ViewBag.Own_car, "Own_car", "Own_car"), "Select Own_car", new { @clas = "form-control" })
                    @Html.ValidationMessageFor(model => model.Own_car, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Source, "ต้นทาง", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Source,
                        new SelectList(ViewBag.br_list, "CodeStart", "CodeStart"), "Select StartCode", new { @clas = "form-control" })
                    @Html.ValidationMessageFor(model => model.Source, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Destination, "ปลายทาง", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Destination,
                        new SelectList(ViewBag.br_list, "CodeEnd", "CodeEnd"), "Select EndCode", new { @clas = "form-control" })
                    @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Range, "ระยะทาง", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Range, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Range, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    กิลโลเมตร
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Note, "หมายเหตุ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-------------------------------------------------------------------------------------------------------------------->

            <hr />
            <h2>รายการสินค้า</h2>
            <div class="form-group">
                @Html.LabelFor(model => model.Product_code, "รหัสสินค้า", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Product_code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Product_code, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Num_way, "จำนวนต้นทาง", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Num_way, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Num_way, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Weight_start, "น้ำหนักต้นทาง", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Weight_start, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Weight_start, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Count_last, "จำนวนปลายทาง", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Count_last, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Count_last, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Weight_end, "น้ำหนักปลายทาง", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Weight_end, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Weight_end, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Lost_count, "จำนวนสูญหาย", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Lost_count, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lost_count, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Weight_lost, "น้ำหนักสูญหาย", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Weight_lost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Weight_lost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Corrupt_count, "จำนวนเสียหาย", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Corrupt_count, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Corrupt_count, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Weight_corrupt, "น้ำหนักเสียหาย", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Weight_corrupt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Weight_corrupt, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-info" />
                    <button class="btn btn-default">
                        @Html.ActionLink("Cancel", "../")
                    </button>
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "../")
    </div>
