﻿@model WebBooking.Entity.BookingRecord

@{
    ViewBag.Title = "View Booking";
}

<h2>Details</h2>

<div>
    <h4>BookingRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanCustomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TripOpen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripOpen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranspotType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranspotType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTranspot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTranspot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weigth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weigth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditTerm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Copy Booking", "Edit", new { id = Model.BookingNo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
