﻿@model IEnumerable<WebBooking.Entity.BookingRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanCustomer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TripOpen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TranspotType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTranspot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weigth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditTerm)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanCustomer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TripOpen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TranspotType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTranspot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weigth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditTerm)
        </td>
        <td>
            @Html.ActionLink("Copy", "Edit", new { id=item.BookingNo }) |
            @Html.ActionLink("View", "Details", new { id=item.BookingNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingNo })
        </td>
    </tr>
    
}

</table>
<input type="submit" value="บันทึก" class="btn btn-default" />
